.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  min-width: 400px;
}

.loading_pic {
 display: flex;
 justify-items: center;
 justify-content: center;
}

.body {
  height: 260px;
}