.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 16px;
}

* {
  box-sizing: border-box;
}

.wrapper > div {
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  padding: 1em;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.inline {
  display: inline-flex;
  align-items: center;
}

.inline span {
  margin-left: 4px;
}

.synchedAt {
  color: green;
}
